/*Reference for importing google fonts -- https://www.w3docs.com/snippets/css/how-to-import-google-fonts-in-css-file.html */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.google.com/specimen/ABeeZee?query=Ab');

.picture {
  width: 400px; /*350px;*/
  height: 300px; /*250px;*/
  /*border: 1px solid white;*/
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
  /*transition: width 1s, height 1s;*/
  /*Reference https://stackoverflow.com/questions/28726430/css-how-to-scale-an-image-from-the-center-instead-of-top-left */
  transition: all 0.5s ease-in-out;

}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition1*/
.picture:hover {
  /*filter: brightness(80%);*/
  /*width: 450px; 
  height: 350px;*/
  /*transform: translate(-5%,-5%);*/
  transform: scale(1.1,1.1);

}


.header {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: rgb(47, 47, 47); /*#1a377f;*/
  flex-wrap: wrap;
  padding: 20px;
  text-align: left;
  margin: 0px;
  color: #ffffff;
}

.logo {
  margin-left: 5%;
}



.project-container {
  /*display: flex;*/
  flex-wrap: wrap;
  width: 80%;
  margin: 100px 0px 100px 0px;
  gap: 20px;
}

.rectangle-container {
  border-radius: 25px;
  background-color: grey;
  padding: 100px;
  width: 900px;
  height: 400px;
  transition: color 1s;
  display: flex;
  align-items: center;
}

/*.rectangle-container:hover {
  filter: brightness(80%);
}*/



.project-description {
  /*QUESTION: Question of how to set the length of the words before wraps!*/
  display: flex;
  flex-direction: column;
  /*margin: auto;*/
  /*line-height: 10px;*/
  /*gap: -40px;*/ /*Question of how to reduce the gap size */
  
}

.sub-pages {
  position: absolute;
  top: 45px;
  right: 5%;
  display: inline;
}





h1 {
  font-family: 'ABeeZee', sans-serif;
  color: white;
}

h2 {
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.header-2 {
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}

h3 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 35px;
  font-weight: bold; 
}

p {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

/*Reference -- https://stackoverflow.com/questions/25579888/keeping-a-active-until-another-link-is-clicked */
a:hover, a.active {
  text-decoration: underline;
}



body {
  background-color: white; /*rgb(231, 231, 231);*/
  font-family: 'Montserrat', sans-serif;
  color: #25252B;
  margin: 0px; /*b/c default is 8px*/
}


.page-container {
  width: 100%; /* 80%; */
  /*margin-top: 5rem;*/
  /*margin: 0px;*/ /*auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
 /* margin: 200px;*/
}

.project {
  display: flex;
  gap: 70px; 
  color: #25252B;
  /*justify-content: flex-start;*/  /*center;*/
  align-items: center;
}

/*.project:hover {
  color: blue;
  align-items: center;
}*/

.spacer {
  margin: 100px 0px 100px 0px;
}
.spacer-big {
  margin: 200px 0px 200px 0px;
}
