.picture-profile {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
  aspect-ratio: 1;
}


.bio-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

.header {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: rgb(47, 47, 47); /*#1a377f;*/
  flex-wrap: wrap;
  padding: 20px;
  text-align: left;
  margin: 0px;
  color: #ffffff;
}

.logo {
  margin-left: 5%;
}

.sub-pages {
  position: absolute;
  top: 45px;
  right: 5%;
  display: inline;
}

.header-2 {
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}

h1 {
  font-family: 'ABeeZee', sans-serif;
  color: white;
}

h2 {
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h3 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 35px;
  font-weight: bold; 
}

p {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

/*Reference -- https://stackoverflow.com/questions/25579888/keeping-a-active-until-another-link-is-clicked */
a:hover, a.active {
  text-decoration: underline;
}

body {
  background-color: white; /*rgb(231, 231, 231);*/
  font-family: 'Montserrat', sans-serif;
  color: #25252B;
  margin: 0px; /*b/c default is 8px*/
}


.page-container {
  width: 100%; /* 80%; */
  /*margin-top: 5rem;*/
  /*margin: 0px;*/ /*auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  margin: 100px 0px 100px 0px;
}
.spacer-big {
  margin: 200px 0px 200px 0px;
}



