@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.google.com/specimen/ABeeZee?query=Ab');



.header {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: #1C4A6E; /*#1a377f;*/
  flex-wrap: wrap;
  padding: 20px;
  text-align: left;
  margin: 0px;
  color: #ffffff;
}

.logo {
  margin-left: 5%;
  font-size: 2em;
}

.sub-pages {
  position: absolute;
  top: 45px;
  right: 5%;
  display: inline;
}

.header-2 {
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}

h1 {
  font-family: 'ABeeZee', sans-serif;
  color: #1C4A6E;;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 25px;
  font-weight: bold; 
}

h4 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 22px;
  font-weight: normal; 
}

p {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

/*Reference -- https://stackoverflow.com/questions/25579888/keeping-a-active-until-another-link-is-clicked */
a:hover, a.active {
  text-decoration: underline;
}

body {
  background-color: white; /*rgb(231, 231, 231);*/
  font-family: 'Montserrat', sans-serif;
  color: #25252B;
  margin: 0px; /*b/c default is 8px*/
}


.page-container {
  width: 100%; /* 80%; */
  /*margin-top: 5rem;*/
  /*margin: 0px;*/ /*auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  margin: 100px 0px 100px 0px;
}
.spacer-big {
  margin: 200px 0px 200px 0px;
}


.content-container {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.indent {
  margin-left: 25px; 
  margin-top: 0px;
  margin-bottom: 0px;
}

.indent-mid {
  margin-left: 45px; 
  margin-top: 0px;
  margin-bottom: 0px;
}

.indent-large {
  margin-left: 65px; 
  margin-top: 0px;
  margin-bottom: 0px;
}

.small {
  font-size: 16px;
}

.test {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
  /*Reference https://stackoverflow.com/questions/28726430/css-how-to-scale-an-image-from-the-center-instead-of-top-left */
  transition: transform 0.5s ease-in-out;;

}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition1*/
.test:hover {
  transform: scale(1.1,1.1);
}

button {
  border-radius: 30px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #1C4A6E; 
  color: white;
  border: 2px solid #1C4A6E;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  opacity: 60%;
}


/* Code for slider based on w3school */ 
/* Code for the switch (toggle background portion) dimensions and positioning */
.switch {
  position: absolute;
  left: 50%; /*50%;*/
  display: inline-block;
  width: 55px;
  height: 29px;
}

/* Hide the default HTML checkbox by reducing size and opacity */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Code for the slider within the toggle*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 29px;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

/* Disabled slider state */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  border-radius: 29px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #005B90;
}


input:focus + .slider {
  box-shadow: 0 0 1px #005B90;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.picture {
  width: 450px;
  height: 261px;
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

